<div class="book-card">
  <div class="card-img-container">
    <img [src]="book.coverImage" class="card-img-top" [alt]="book.title">
  </div>
  
  <div class="card-body">
    <h3 class="card-title">{{ book.title }}</h3>
    <p class="card-subtitle">{{ book.author }}</p>

    <!-- Book meta info -->
    <div class="book-meta">
      <div class="book-year">
        <i class="fas fa-calendar-alt"></i> {{ book.yearPublished }}
      </div>
      <button class="btn-view-details" (click)="navigateToBookDetails()">
        Детальніше <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
