<div class="sidebar-filter">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Фільтри</h5>
    </div>
    <div class="card-body">
 
        <!-- Фільтр за категоріями -->
        <div class="filter-group mt-4">
          <label for="categoryFilter" class="form-label">Категорія:</label>
          <select id="categoryFilter"
                  class="form-select"
                  [(ngModel)]="selectedCategoryId"
                  (change)="onCategoryChange()">
            <option [ngValue]="null">Всі категорії</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
          </select>
        </div>

        <!-- Фільтр за підкатегоріями (показується, якщо вибрана категорія) -->
        <div class="filter-group mt-3" *ngIf="selectedCategoryId">
          <label for="subcategoryFilter" class="form-label">Підкатегорія:</label>
          <select id="subcategoryFilter"
                  class="form-select"
                  [(ngModel)]="selectedSubcategoryId"
                  (change)="onSubcategoryChange()">
            <option [ngValue]="null">Всі підкатегорії</option>
            <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory.id">{{ subcategory.name }}</option>
          </select>
        </div>

        <!-- Filter Buttons -->
        <div class="filter-buttons d-flex mt-4">
          <button type="button" class="btn-apply flex-grow-1 me-2" (click)="applyFilters()">
            <i class="fas fa-filter"></i> Застосувати
          </button>
          <button type="button" class="btn-reset" (click)="resetFilters()" *ngIf="hasActiveFilters()">
            <i class="fas fa-undo-alt"></i> Скинути
          </button>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>
